* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Bola.avif);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.card-1 {
    background-color: white;
    border-radius: 12px;
    padding: 12;
    width: 80px;
    height: 85px;
    opacity: 80%;
    justify-content: center;
}

.NamaPemain-1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 64px;
}

.NomorPemain-1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
}

.row {
    display: flex;
}